@import 'src/style/GlobalStyle';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.principal-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $Light_theme_yellow;
  padding: 0;
  height: 110px;
  font-family: 'Raleway', sans-serif;
}

.tab-items {
  display: flex;
  justify-content: space-around;
  width: auto;
  align-items: center;
  background-color: $Contrast_theme_violet;
  height: 60px;

  .nav-items {
    margin: 0.5rem;
    width: fit-content;

    a {
      all: unset;

      .link-items {
        margin: 1rem 1rem;
        padding: 0.5rem 1rem;
        background-color: $Light_theme_yellow;
        color: $Dark_theme_blue;
        border-radius: 0.8rem;
        cursor: pointer;
      }
    }

    .link-items:hover {
      background-color: $Dark_theme_violet;
      color: $Light_theme_yellow;
    }
  }
}
