/* Color Theme Swatches in Hex */
$Contrast_theme_violet: #c09cd9;
$Dark_theme_violet: #7d60a6;
$Dark_theme_blue: #353ff2;
$Dark_theme_yellow: #a69c0f;
$Light_theme_yellow: #d9cc1e;
$Letter_theme_light_blue: #d5e7f2;
$Letter_theme_light_yellow: #f2d64b;
