/* Color Theme Swatches in Hex */
$Contrast_theme_violet: #C09CD9;
$Dark_theme_violet: #7D60A6;
$Dark_theme_blue: #353FF2;
$Dark_theme_yellow: #A69C0F;
$Light_theme_yellow: #D9CC1E;
$Letter_theme_light_blue: #D5E7F2;
$Letter_theme_light_yellow: #F2D64B;

